<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= pokemon.name %> </title>
</head>
<body>
    <form action="/pokemon/<%= id %>?_method=PUT" method="post" >
        <div>
            <label for="">Name:</label>
            <!-- <input type="text" name="name" value="mudkip"> -->
            <input type="text" id="poke-name" name="name" value=<%= pokemon.name %>>
        </div>
        <div>
            <label for="">Image URL:</label>
            <input type="text" name="url" value=<%= pokemon.img %>>
        </div>
        <button type="submit">Edit</button>
    </form>
</body>
</html>