<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="/catch" method="post" >
        <div>
            <label for="">Name:</label>
            <!-- <input type="text" name="name" value="mudkip"> -->
            <input type="text" id="poke-name" name="name">
        </div>
        <div>
            <label for="">Image URL:</label>
            <input type="text" name="url">
        </div>
        <button type="submit">Catch</button>
    </form>
</body>
</html>