<header>
  <nav>
    <h1>Express Blog</h1>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/authors">Author Index</a>
      </li>
      <li>
        <a href="/authors/new">Add New Author</a>
      </li>
      <li>
        <a href="/articles">Articles Index</a>
      </li>
      <li>
        <a href="/articles/new">Add New Articles</a>
      </li>
    </ul>
  </nav>
</header>