bobafett: { name: '' }

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boba Fett</title>
  </head>
  <body>
    <h1>This is the Boba Fett Template</h1>
    <h4><%= bobafett.name %></h4>
    <h4><%= darthVader.name %></h4>
  </body>
</html>
