<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits</title>
  </head>
  <body>
    <h1>All Fruits</h1>

    <%# JSON.stringify(fruitsArray) %>

      <% if (fruitsArray.length === 0) { %>
        <h4>No fruits available</h4>
      <% } else { %>
        <% for (let i = 0; i < fruitsArray.length; i++) { %>
          <a href="/fruits/<%= i %>"><h4><%= fruitsArray[i].name %></h4></a>
          <form method="POST" action="/fruits/<%= i %>?_method=DELETE">
            <button type="submit">Delete</button>
          </form>
        <% } %>
      <% } %>



  </body>
</html>
