<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Fruit</title>
</head>
<body>
  <h1>Add New Fruit</h1>

  <form action="/fruits" method="POST">

    <div>
      <label for="fruit-name">Fruit Name</label>
      <input type="text" id="fruit-name" name="name">
    </div>


    <div>
      <label for="fruit-color">Fruit Color</label>
      <input type="text" id="fruit-color" name="color">
    </div>

    <div>
      <label for="fruit-ready">Ready to Eat?</label>
      <input type="checkbox" id="fruit-ready" name="readyToEat">
    </div>
    <br />

    <button type="submit">Add Fruit</button>

  </form>

</body>
</html>
