<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script defer src="js/bootstrap.bundle.js"></script>
    <script defer src="js/jquery.js"> </script>
    <title>MEEN app</title>
</head>
<body>

</body>
</html>