<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things</title>
</head>
<body>
    <% for(i=0; i<things.length;i++){ %> 
    <a href="/index/<%= i %>/edit"><%= things[i].name %> </a>

    <form method="POST" action="/index/<%= i %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>    

    <% } %> 
</body>
</html>