<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Article</title>
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <form action="/articles/<%= articleData._id %>?_method=PUT" method="POST">

      <div>
        <label for="title">Article Title</label>
        <input type="text" id="title" name="title" value="<%= articleData.title %>" />
      </div>

      <div>
        <label for="body">Article Body</label>
        <textarea id="body" name="body" value="<%= articleData.body %>"></textarea>
      </div>

      <button type="submit">Update</button>
    </form>
  </main>

</body>
</html>
