<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Article</title>
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <form action="/articles" method="POST">

      <select name="author">
        <% authors.forEach((author) => { %>
          <option value="<%= author._id %>"><%= author.name %></option>
        <% }) %>
      </select>

      <div>
        <label for="title">Article Title</label>
        <input type="text" id="title" name="title" />
      </div>

      <div>
        <label for="body">Article Body</label>
        <textarea id="body" name="body"></textarea>
      </div>

      <button type="submit">Add New Article</button>
    </form>
  </main>

</body>
</html>
