<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/new">Signup</a></li>
        <li><a href="/users/login">Login</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <h1>Create a New Account</h1>


    <form action="/users" method="POST">
    
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="2">
      </div>

      <button type="submit">Create Account</button>
      
    </form>

  </main>

  <footer>
    &copy; <%= new Date().getFullYear() %> Acme Inc.
  </footer>
</body>
</html>
