<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="" method="POST">
            <div>
                <label for="">Username</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="">Email</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <!-- <div>
                <label for="">Password Confirm</label>
                <input type="password">
            </div> -->
            <button type="submit">Sign Up</button>
        </form>
    </main>
</body>
</html>