<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Store</title>
</head>
<body>
    <form action="/index" method="post">
        <h2>Name:</h2>
        <input name="name" type="text">
        <h2>Price:</h2>
        <input name="price" type="number">
        <h2>Qty:</h2>
        <input name="qty" type="number">

        <button type="submit">Create</button>
    </form>
</body>
</html>