{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class= "card col s7">
<div class="chart">
</div>
</div>
<div class= "card col s5">
    <div class= "card col s12 card-content">
    <form action="" enctype="multipart/form-data" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                {{ form.color }}
                <label>Color</label>
            </div>

            <div class="input-field col s6">
                {{ form.type }}
                <label>Bristol Type</label>
            </div>
        </div>
        <div class="col s12">
            <label>Notes</label>
            {{ form.note }}
        </div>
        <div class="col s12">
            <label>Upload Picture</label>
            <br>
            <input type="file" name="photo-file">
        </div>

        <input type="submit" class="btn right" value="Log Poop">
    </form>
    </div>
</div>
</div>
{% endblock content %}